---
interface Props {
    title?: string;
    description?: string;
    ogImage?: string;
    canonical?: string;
}

import Seo from "../components/seo/Seo.astro";
import "../styles/global.css";

const { title, description, ogImage, canonical } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <Seo {title} {description} {ogImage} {canonical} />
        <slot name="head" />
    </head>
    <body>
        <slot />
    </body>
</html>
